body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

header {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.profile {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.3s;
  object-fit: cover;
}

.profile-image:hover {
  transform: scale(1.1);
}

h1 {
  margin: 0;
  color: #333;
}

.tagline {
  color: #666;
  margin-bottom: 10px;
}

.description {
  margin-bottom: 20px;
  color: #555;
}

.username {
  color: #888;
}

#profileImageLabel {
  cursor: pointer;
  color: #3498db;
  display: inline-block;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#profileImageLabel:hover {
  color: #2980b9;
}

#imageLabel {
  cursor: pointer;
  color: #fff;
  display: inline-block;
  margin-top: 10px;
  padding: 12px 20px;
  background-color: #3498db;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#imageLabel:hover {
  background-color: #2980b9;
}

#imageDescription {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.card p {
  padding: 15px;
  margin: 0;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
}
